<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nigma.module_twilio">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>
        <activity
            android:name=".ui.VoipActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_voip"
            android:theme="@style/FullscreenTheme">

        </activity>

        <service
            android:name=".service.VoipService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>